

<div class="about-main">
  <h2>TweetAppとは</h2>
  <p>
    スマートスピーカーと翻訳サービスを連携し
    自分だけの単語帳を作っていき、効率よく英語を勉強する手助けをするサービスです。
    勉強中にわからない単語を、スマートスピーカーに話しかけて調べたり、アプリ上で調べることで
    調べた単語を蓄積し、自分だけの分からなかった単語リストを作成していくことができます。
    また、自分の英語力を入力することで、同じレベル帯のユーザーの単語リストを共有することができます。
  </p>
  <img class ="about-img" src="/tweets.png">
</div>
